---
Checks: >
  -*,
  bugprone-argument-comment,
  bugprone-assert-side-effect,
  bugprone-assignment-in-if-condition,
  bugprone-bad-signal-to-kill-thread,
  bugprone-bitwise-pointer-cast,
  bugprone-bool-pointer-implicit-conversion,
  bugprone-casting-through-void,
  bugprone-chained-comparison,
  bugprone-compare-pointer-to-member-virtual-function,
  bugprone-copy-constructor-init,
  bugprone-crtp-constructor-accessibility,
  bugprone-dangling-handle,
  bugprone-dynamic-static-initializers,
  bugprone-empty-catch,
  bugprone-exception-escape,
  bugprone-fold-init-type,
  bugprone-forward-declaration-namespace,
  bugprone-forwarding-reference-overload,
  bugprone-implicit-widening-of-multiplication-result,
  bugprone-inaccurate-erase,
  bugprone-inc-dec-in-conditions,
  bugprone-incorrect-*,
  bugprone-infinite-loop,
  bugprone-integer-division,
  bugprone-lambda-function-name,
  bugprone-macro-*,
  bugprone-misplaced-*,
  bugprone-move-forwarding-reference,
  bugprone-multi-level-implicit-pointer-conversion,
  bugprone-multiple-*,
  bugprone-narrowing-conversions,
  bugprone-no-escape,
  bugprone-non-zero-enum-to-bool-conversion,
  bugprone-nondeterministic-pointer-iteration-order,
  bugprone-not-null-terminated-result,
  bugprone-optional-value-conversion,
  bugprone-parent-virtual-call,
  bugprone-pointer-arithmetic-on-polymorphic-object,
  bugprone-posix-return,
  bugprone-redundant-branch-condition,
  bugprone-reserved-identifier,
  bugprone-return-const-ref-from-parameter,
  bugprone-shared-ptr-array-mismatch,
  bugprone-signal-handler,
  bugprone-signed-char-misuse,
  bugprone-sizeof-*,
  bugprone-spuriously-wake-up-functions,
  bugprone-standalone-empty,
  bugprone-string-*,
  bugprone-stringview-nullptr,
  bugprone-suspicious-*,
  bugprone-swapped-arguments,
  bugprone-switch-missing-default-case,
  bugprone-tagged-union-member-count,
  bugprone-terminating-continue,
  bugprone-throw-keyword-missing,
  bugprone-too-small-loop-variable,
  bugprone-unchecked-optional-access,
  bugprone-undefined-memory-manipulation,
  bugprone-undelegated-constructor,
  bugprone-unhandled-*,
  bugprone-unique-ptr-array-mismatch,
  bugprone-unsafe-functions,
  bugprone-unused-*,
  bugprone-use-after-move,
  bugprone-virtual-near-miss,
  clang-analyzer-apiModeling.*,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.ArrayDelete,
  clang-analyzer-cplusplus.InnerPointer,
  clang-analyzer-cplusplus.Move,
  clang-analyzer-cplusplus.NewDelete,
  clang-analyzer-cplusplus.PlacementNew,
  clang-analyzer-cplusplus.PureVirtualCall,
  clang-analyzer-cplusplus.SelfAssignment,
  clang-analyzer-cplusplus.SmartPtrModeling,
  clang-analyzer-cplusplus.StringChecker,
  clang-analyzer-deadcode.DeadStores,
  clang-analyzer-fuchsia.HandleChecker,
  clang-analyzer-nullability.*,
  clang-analyzer-optin.*,
  clang-analyzer-osx.*,
  clang-analyzer-security.*,
  clang-analyzer-unix.*,
  clang-analyzer-valist.*,
  clang-analyzer-webkit.*,
  cppcoreguidelines-avoid-capturing-lambda-coroutines,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-avoid-reference-coroutine-parameters,
  cppcoreguidelines-explicit-virtual-functions,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-pro-type-member-init,
  # cppcoreguidelines-pro-type-vararg,
  modernize-avoid-*,
  -modernize-avoid-c-arrays,
  modernize-concat-nested-namespaces,
  modernize-deprecated-*,
  modernize-loop-convert,
  modernize-macro-to-enum,
  modernize-make-*,
  modernize-min-max-use-initializer-list,
  modernize-raw-string-literal,
  modernize-redundant-void-arg,
  modernize-replace-*,
  modernize-return-braced-init-list,
  modernize-shrink-to-fit,
  modernize-type-traits,
  modernize-unary-static-assert,
  modernize-use-auto,
  modernize-use-bool-literals,
  modernize-use-constraints,
  modernize-use-default-member-init,
  modernize-use-emplace,
  modernize-use-equals-delete,
  modernize-use-integer-sign-comparison,
  modernize-use-noexcept,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-starts-ends-with,
  modernize-use-std-*,
  modernize-use-transparent-functors,
  modernize-use-uncaught-exceptions,
  modernize-use-using,
  readability-braces-around-statements,
  readability-else-after-return,
  readability-inconsistent-declaration-parameter-name,
  readability-isolate-declaration,
  readability-redundant-control-flow,
  readability-uppercase-literal-suffix

WarningsAsErrors: "*"
CheckOptions: []
HeaderFilterRegex: ""
FormatStyle: none
SystemHeaders: false
...
